@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Black.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('../fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

.dashboard_container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.dashboard_left_section {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.dashboard_right_section {
  width: 20%;
  height: 100%;
}

.dashboard_content_container {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
}

.dashboard_rooms_container {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
}

.dashboard_info_text_container {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.dashboard_info_text_title {
  font-size: 30px; /* Reduced font size */
}

.dashboard_info_text_description {
  margin-top: 10px;
  font-size: 14px; /* Reduced font size */
}

.dashboard_active_users_list {
  height: 80%;
}

.dashboard_logo_container {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px; /* Reduced font size */
}

.dashboard_logo_image {
  width: 50%; /* Reduced width */
}

.scroll_group_list {
  max-height: 100%;
  overflow-y: auto;
  width: 100%;
  position: absolute;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  /* grid-template-columns: repeat(3, 1fr); */
  grid-gap: 8px;
  gap: 19px;
  height: 100%;
  box-sizing: border-box;
  flex-direction: column;
/* background-color: #29417d4f; */
/* z-index: 99; */
}

.scroll_group_list::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}
.with-background {
  background-image: url('../resources/dashboardBackGround.png');
  background-size: cover;
  background-position: center;
  z-index: 11;
}


.operator {
  position: absolute;
  z-index: 5;
  margin-top: 50rem;
  width: 25%;
  font-size: 20px; /* Reduced font size */
}
.dashboard-content{
  font-family: 'Poppins', sans-serif !important;
}

.test {
  z-index: 5;
  font-size: 80px; /* Reduced font size */
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px; /* Reduced margin */
}

.activity-title {
  font-size: 24px; /* Reduced font size */
  font-weight: bold;
  color:  #29417D;
}

@media (max-width: 1085px) {
  .custom-dropdown {
     display: none !important;
  }
}

.custom-popup{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #29417d6f;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-popup-modal{
  width: 600px;
  height: 375px;
  border-radius: 30px;
  background-color: #fff;
  position: relative;
  font-family: 'Poppins', sans-serif !important;
}
.custom-popup-header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 18%;
  background-color: #29417D;
  border-radius: 30px 30px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-popup-body{
  position: relative;
  top: 20%;
  width: 100%;
  padding: 10px;
  height: auto;
  display: flex;
  justify-content: center;
  gap: 5%;
  align-items: center;
}
.date-range-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.date-input {
  margin: 0 10px;
  padding:0px 0px 0px 10px;
  border-radius: 20px;
  cursor: pointer;
  width: 220px;
  height: 30px;
  border: 1px solid #000000;
}

.date-range-container input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 1;
    display: block;
    background: url('../resources/Calendar-month.png') no-repeat;
    background-size: 20px auto;
    border-width: thin;
    width: 30px;
    height: 30px;
    border-radius: 0 20px 20px 0;
    background-color: #FAA519;
    padding: 3px 10px;
    cursor: pointer;
    background-position: center;
}

.popup-btns{
  position: absolute;
  bottom: 20px;
  width: 100%;
}
.error-msg{
  font-size: 15px;
  color: #ff0000;
  position: absolute;
  text-align: center;
  bottom: 70px;
  width: 100%;
}
.popupbtn{
  width: 100px;
  height: 30px;
  font-size: 15px;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 100px;
}
.back-btn{
  background: #D9D9D9;
}
.save-btn{
  background: #FAA519;
}

.popup-btns{
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.date-label {
  font-weight: bold;
  margin: 0 20px;
}

.custom-popup-header h5{
  font-family: 'Poppins', sans-serif !important;
  font-weight: 25px;
  font-weight: 700;
  color: #fff;
}

/* Style for the select element */
.custom-dropdown {
  position: absolute;
  border: 2px solid #ffc107;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  top: 100px;
  right: 50px;
  width: 201px;
  display: inline-block;
  color: #231F20;
  font-family: 'Poppins', sans-serif !important;
  background-color: #FEFAF1;
  height: auto;
  z-index: 10;
  overflow: hidden;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border: none !important;
}

.dropdown-button {
  width: 90%;
  font-weight: 600;
  background: transparent;
  text-align: left;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 0px 10px;
}

.dropdown-listbox {
  display: none; /* Hidden by default */
  position: relative;
  top: 100%; /* Ensures the listbox is directly below the button */
  width: 100%;
  background: transparent;
  border-radius: 4px;
  list-style: none;
  padding: 0px;
  margin: 0;
  z-index: 1;
}

.dropdown-list {
  padding: 2px 26px;
  cursor: pointer;
  color: #939598;
  font-weight: 600;
}

.dropdown-list:hover {
  background-color: #ffc107;
  color: #fff;
}

/* Show the listbox when dropdown is active */
.custom-dropdown.active .dropdown-listbox {
  display: block;
}



.section-title {
  font-size: 18px; /* Reduced font size */
  font-weight: 600;
  font-family: 'Poppins', sans-serif !important;
  margin-bottom: 20px; /* Reduced margin */
  color:  #29417D;
}

.agents-status .agent-card {
  background-color: #eaf0ff;
  padding: 10px; /* Reduced padding */
  border-radius: 8px;
  text-align: center;
  margin-bottom: 10px; /* Reduced margin */
}

.agents-status .available-agents {
  background-color: #F3F7FF;
  height: 100%;
}
.agents-status .Inbound-Calls {
  background-color: #F3F7FF;
  height: 100%;
}

.agents-status .on-break {
  background-color: #FEFAF1;
  height: 100%;
}
.agents-status .Call-Time {
  background-color: #FEFAF1;
  height: 100%;
}

.agents-status .busy-in-call {
  background-color: #FFDADF;
  height: 100%;
}
.agents-status .Resolution-Rate {
  background-color: #D9FFEA;
  height: 100%;
}
.agents-status .Call-Work {
  background-color: #F6F6F6;
  height: 100%;
}

.agents-status .after-call-work {
  background-color: #F6F6F6;
  height: 100%;
}

.agent-label {
  display: block;
  width:10px;
  margin-top: 5px; /* Reduced margin */
  font-size: 14px; /* Reduced font size */
  color: #555;
}
.agent-labels {
  display: block;
    width: 72px;
    margin-top: 21px;
    font-size: 8px;
    color: #555;
    font-weight: 900;
}

.agent-count {
  font-size: 25px; /* Reduced font size */
  font-weight: bold;
  color:  #29417D;
  display: flex;
  position: relative;
  bottom: 10px;
  justify-content: end;
    /* margin-top: 10px; */
}

.icon {
  color: #666;
  display: flex;

}

.calls-status .calls-card {
  text-align: center;
  padding: 8px; /* Reduced padding */
  margin-bottom: 10px; /* Reduced margin */
}

.calls-label {
  display: block;
  font-size: 12px; /* Reduced font size */
  color: #29417D;
}

.calls-count {
  font-size: 37px; /* Reduced font size */
  font-weight: bold;
  color: #333;
}

ul {
  padding: 0;
  list-style-type: decimal;
}

ul li span {
  float: right;
}

.top-image-container-dashboard {
  position: relative;
  width: 100%;
  height: 140px; /* Further reduced height */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../resources/Top.png');
  background-size: 40% auto; /* Further reduced size of the top image */
  background-position: center;
  background-repeat: no-repeat;
  top: -31px;
    z-index: 1000;
    /* z-index: 99; */
    left: -54px;
    
}

@media (max-width: 800px) {
  .top-image-container-dashboard {
     top: -47px;
      left: -40px;
      background-size: 52% auto;
  }
}

@media (max-width: 750px) {
  .top-image-container-dashboard {
     top: -48px;
      left: -35px;
      background-size: 52% auto;
  }
}
@media (min-width: 1800px) {
  .top-image-container-dashboard{
     height: 147px !important;
     left:78px !important;
     width: 74% !important;
     top:-25px !important;
  }
}



@media (max-width: 400px) {
  .top-image-container-dashboard {
     top: -45px;
      left: -30px;
      display: none;
      background-size: 40% auto;
  }
}

.scrollBarDashboard::-webkit-scrollbar{
  width:5px;
  background:transparent ;
 }

 .scrollBarDashboard::-webkit-scrollbar-thumb{

  background-color:#dbe2eb ;
 }
 
 .page-link {
  display: block;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: #000;
}



.page-item.active .page-link {
  background-color: rgb(255, 255, 255) !important; /* Active page color */
  color: orange !important;
  border-color: rgb(255, 255, 255) !important;
}

.page-link:focus{
  box-shadow: none !important;
}

/* Hide the default border and background */
.page-item .page-link {
  border: none;
  background-color: transparent;
}

.page-item:hover .page-link {
  background-color: rgba(0, 0, 0, 0.1); /* Optional: Hover effect */
}


@media (min-width: 1800px) {
  .top-image-container{
     height: 147px !important;
  }
}


/* Hamburger menu */
.hamburger-container {
  position: relative;
  bottom: 99px;
  /* height: 103px; */
  z-index: 9;
  left: 967px;
}

@media (min-width: 1500px) {
  .hamburger-container {
    left: 1170px;
  }
}

/* Media query for width greater than 1700px */
@media (min-width: 1600px) {
  .hamburger-container {
    left: 1280px;
  }
}
@media (min-width: 1700px) {
  .hamburger-container {
    left: 1474px;
  }
}

.hamburger-menu {
  cursor: pointer;
  width: 36px;
  height: 27px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: #1d2d5f;
}

/* Popup menu styling */
.menu-popup {
  position: absolute;
  top: 48px;
  width: 199px;
  left: -140px;
  z-index: 11;
  background-color: #f2f5fe;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-popup ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-popup ul li {
  margin: 10px 0;
}

.menu-popup ul li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
